.title{
    font-weight: 500;
}
.w-100{
    width: 100%;
}
.bg-gris{
    background-color: grey;
}
.tiempoEstimado{
    width: 100%;
    text-align: right;
}
.descripcion{
    font-size: medium;
    color: rgb(108, 108, 108);
}
.myBadge{
    background-color: #d6d6d6;
    color: #3b3b3b;
    padding: 4px;
    border-radius: 8px;
    width: max-content;
}
.mainCard{
    display: flex;
    border-radius: 6px;
    align-content: center;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
    border-top: 4px solid #014486;
}
.trailCard{
    min-width: 75%;
    padding: 1rem;
    background-color: #ffffff;
}
.titlePoints{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
}
.moduleCard{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 1rem 7rem;
    margin-top: 1rem;
    border-top: 4px solid #0176d3;
}
.moduleWithPoints{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}
.unitCard{
    margin: 0.5rem;
    border-top: 2px solid rgb(183, 183, 183);
    padding: 1rem;
}
.unitName{
    color:  #05628a;
}
.unitName:hover{
    text-decoration: underline;
    cursor: pointer;
}
.unitLayout{
    display: flex;
    align-items: center;
}
.checkIcon{
    background-color: #3ba755;
    padding: 0.5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
    color: #f2f2f2;
}
.show {
display: block;
/* other styles here */
}
.hide {
display: none;
}
.moduleLayout{
    display: flex;
    align-items: center;
}